header.d-flex.justify-content-center.py-3
    ul.nav.nav-pills
        li.nav-item
            a.nav-link(href='/' aria-current='page') Home
        li.nav-item
            a.nav-link(href='/services') Services
        li.nav-item
            a.nav-link(href='/contact') Contact